{% extends 'base.html' %}
{% block content %}
  <main>
    <section class="container my-5 px-4">
      <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
      <p class="text-center my-4">Создайте короткую ссылку автоматически или предложите свой вариант</p>

      <div class="container">
        <div class="row my-3">
          <div class="col-sm"></div>
          <div class="col-sm">
            <form method="POST" novalidate>
              {{ form.csrf_token }}
              {{ form.original_link(class = 'form-control form-control-lg py-3 mb-3', placeholder = 'Длинная ссылка') }}
              <p></p>
              {{ form.custom_id(class = 'form-control form-control-lg py-3 mb-3', placeholder = 'Ваш вариант короткой ссылки', rows = '3', cols = '40') }}
              {{ form.submit(class = 'button px-5 py-3 btn-primary') }}
            </form>
          </div>
          <div class="col-sm"></div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm">
            <p class="text-center">
              {% if error_message %}
                <p class="text-center">
                  <span style="color: red">{{ error_message }}</span>
                </p>
              {% endif %}
              {% if new_link %}
                <p>
                  Ваша новая ссылка готова: <a href="{{ new_link }}">{{ new_link }}</a>
                </p>
              {% endif %}
            </p>
          </div>
          <div class="col-sm"></div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
